@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17385b;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;

}

header h3 {
    font-size: 1.5em;
    margin: 0 50px;
    color: #54acdc;
    text-transform: uppercase;
    overflow: visible;
}

header a{
    text-decoration: none;
    color: #94daff;
    margin: 5px;
    overflow: visible;
    transition: 0.5s ease;
}

header a:hover{
    color: #428ab1;
}

nav {
    margin: 0 50px;
    display: flex;
}

.main{
    background-color: #11273f;
    padding: 110px 0 0 0;
    text-align: center;
    height: 45vh;
}

.main h4 , .main h3{
    color: #ffffff;
    font-size: 2em;
}

.main h4{
    margin-top: 60px;
}


.main h1 {
    color: #75b7db;
    font-size: 3em;
}

.main-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #4361ee;
    border-radius: 15px;
    letter-spacing: 0.5px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color:#1b45ff;
    transform: scale(1.1);
}

.social-icons{
    margin: 10px;
}

.social-icons a{
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

.title{
    text-align: center;
    font-size: 2.5em;
    margin: 30px;
    margin-top: 60px;
    color: #3099d1;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}



.card{
    box-shadow: 0 5px 10px rgba(1 1 1 / 15%);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.card a {
    text-decoration: none;
    color: #4361ee;
    transition: 0.5s ease;
}

.card a:hover {
    color: #0a35f5;
    transform: scale(1.1);
}

.card-img img{
    width: 100%;
}

strong{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}


.certificates {
    background-color: #11273f;
    text-align: center;
}

.certificates img {
    width: 50%;
    border-radius: 15px;
    margin: 20px;
}


.certificates-imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#certificates-title{
    display: inline-block;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-card{
    box-shadow: 0 5px 10px rgba(1 1 1 / 15%);
    text-align: center;
    margin: 20px;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #428ab1;
    transition: 0.7s ease;
}

.contact-card:hover{
    background-color: #e8f9ff;
    transform: scale(1.1);
}

.icon{
    font-size: 4em;
    padding: 30px 0;
}

.info{
    font-weight: 550;
}

.card-heading{
    font-weight: 900;
}

footer{
    background-color: #11273f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer .social-icons{
    margin-right: 30px;
}

footer p{
    margin-left: 30px;
    display: flex;
}

p span {
    margin-right: 5px;
}


@media (max-width: 1100px){
    .main h4 , .main h3{
        color: #ffffff;
        font-size: 2em;
    }
    .main h1{
        font-size: 2.5em;
    }

    .certificates img {
        width: 80%;
        border-radius: 15px;
        margin: 20px;
    }
}


  
  
  
@media (max-width:500px) {
    .certificates img {
        width: 100%;
        border-radius: 15px;
        margin: 20px;
    }

    .card {
        margin: 10px;
        width: 30em;
    }

    strong{
        font-size: 0.9em;
    }

    nav{
        margin: 0 40px;
        flex-direction: column;
    }

    nav a {
        margin: 0;
    }

    .logo{
        margin: 0 20px;
    }

    .main h4 , .main h3{
        color: #ffffff;
        font-size: 1em;
    }
    .main h1{
        font-size: 2em;
    }

    footer p{
        flex-direction: column;
    }

}